body {
    background-color: #FDDBBD;
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #B0B0B0;
    text-align: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    margin: auto;
}

p {
    border: 3px dashed gray;
    padding: 10px;
    box-sizing: border-box;
    word-spacing: 5px;
}

p:first-of-type:first-letter {
    font-size: 3em;
}