.container {
    width: 600px;
    height: 600px;
    background: url(mundo.svg),
        radial-gradient(circle, rgba(187, 194, 8, 1) 3%, rgba(8, 194, 45, 1) 13%, rgba(194, 8, 8, 1) 31%, rgba(0, 212, 255, 1) 55%, rgba(0, 1, 36, 1) 100%), url(tijeras.svg) right bottom no-repeat;
    back
}